		.nav-menu {display: block; position: relative; top: 0; left: 0; height: 0; width: 100%;}
		
		.nav-menu .cd-primary-nav {
			position: fixed;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			transform: translateY(-100%);
			transition-property: transform;
			transition-duration: 0.4s;

			background: rgba(2,23,37,.96);
			z-index: 2;
			text-align: center;
			padding: 0;
			margin: 0;
		    padding: 50px 0;
		}

		.nav-menu .cd-primary-nav.is-visible {
		  transform: translateY(0);
		}

		.nav-menu .close {
		    position: fixed;
		    top: 0;
		    right: 0;
		    color: #fff;
		    z-index: 3;
		    opacity: 0;
		    pointer-events: none;
		}

		.nav-menu .cd-primary-nav.is-visible + .close {
			opacity: 1;
			pointer-events: auto;
		}



.cd-primary-nav .cd-label {
    color: #06446e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-size: .875rem;
    margin: 2.4em 0 .8em;
}

.cd-primary-nav a {
    display: inline-block;
    padding: .4em 1em;
    border-radius: .25em;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s;
	color: #fff;
    text-decoration: none;
}

.cd-primary-nav li {
    font-size: 30px;
    font-size: 1.875rem;
}

.cd-primary-nav li {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: .2em 0;
    text-transform: capitalize;
}